.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  align-items: center;
  justify-content: center;
  width: 1000px;
  @include media("<=tablet") {
    flex-direction: column;
    width: 400px;
  }
  @include media("<=phoneLarge") {
    flex-direction: column;
    width: 300px;
  }
  @include media("<=phone") {
    flex-direction: column;
    width: 300px;
  }
  @include media("<=phoneSmall") {
    flex-direction: column;
    width: 300px;
  }
  .loader {
    width: 200px !important;
  }
  .card_top {
    height: 608px;
    width: 442px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 14px;
    position: relative;
    @include media("<=tablet") {
      flex-direction: column;
      width: 400px;
    }
    @include media("<=phoneLarge") {
      width: 300px;
    }
    @include media("<=phone") {
      width: 300px;
    }
    @include media("<=phoneSmall") {
      width: 300px;
    }
    img {
      position: relative;
      transition: all 0.2s ease;
      cursor: pointer;
      width: 100%;
      height: 608px;
      object-fit: cover;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.2);
      @include media("<=phoneSmall") {
        width: 280px;
      }
    }
    .card_text_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 70%;
      left: 25%;
      padding: 20px 20px;
      background-color: rgba(0, 0, 0, 0.666);

      h1 {
        color: #ffffff;
        font-size: 26px;
        text-align: left;
        margin-top: -10px;
        font-weight: bold;
        z-index: 999999;
        @include media("<=phoneSmall") {
          font-size: 20px;
        }
      }
      span {
        color: #ecdfdf;
        margin-top: -10px;
        font-size: 14px;
        text-align: left;
        font-weight: 400;
        z-index: 999999;
      }
    }
  }
}
