.wrapper {
  display: flex;
  flex-wrap: wrap;
  min-height: 50vh;
  width: 1000px;
  .card_top {
    height: 608px;
    width: 442px;
    margin-top: 40px;
    margin-bottom: 50px;
    margin-left: 14px;
    position: relative;
    img {
      position: relative;
      transition: all 0.2s ease;
      cursor: pointer;
      width: 100%;
      height: 608px;
      object-fit: cover;
      box-shadow: 0 20px 20px rgba(0, 0, 0, 0.2),
        0px 0px 50px rgba(0, 0, 0, 0.2), 0 20px 20px rgba(0, 0, 0, 0.2);
    }
    .card_text_top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      position: absolute;
      top: 70%;
      left: 25%;
      padding: 20px 20px;
      background-color: rgba(0, 0, 0, 0.666);
      h1 {
        color: #ffffff;
        font-size: 26px;
        text-align: left;
        margin-top: -10px;
        font-weight: bold;
        z-index: 999999;
      }
      span {
        color: #ecdfdf;
        margin-top: -10px;
        font-size: 14px;
        text-align: left;
        font-weight: 400;
        z-index: 999999;
      }
    }
  }
}
