$main: #f0d8bb;
$white: #ffffff;
$black: #1e1f13;
@import "./breakpoints.scss";

.header {
  font-size: 16px;
  z-index: 99;
  width: 100%;
  font-weight: "700";
  @include media("<=tablet") {
    width: 570px;
  }
  @include media("<=phoneLarge") {
    width: 400px;
  }
  @include media("<=phone") {
    width: 360px;
  }
  @include media("<=phoneSmall") {
    width: 300px;
  }
  .header_container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: 90%;
    height: 100%;
    .row {
      height: 128px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      .logo {
        a {
          color: black;
          text-decoration: none;
          @include media("<=phone") {
            font-size: 12px;
          }
          @include media("<=phoneSmall") {
            font-size: 12px;
          }
        }
      }
      .menu {
        margin-top: 18px;
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid black;
        height: 120px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;
        @include media("<=phone") {
          height: 70px;
          width: 70px;
          font-size: 12px;
        }
        @include media("<=phoneSmall") {
          height: 70px;
          width: 70px;
          font-size: 12px;
        }
        &:hover {
          color: $white;
          background: $black;
        }
        span {
          margin-left: 7px;
        }
      }
    }
  }
}
