$main: #f0d8bb;
$white: #ffffff;
$black: #1e1f13;

.header {
  font-size: 16px;
  z-index: 99;
  width: 100%;
  font-weight: "700";
  .header_container {
    flex-grow: 1;
    margin: 0 auto;
    padding: 0 32px;
    position: relative;
    width: 90%;
    height: 100%;
    .row {
      height: 128px;
      align-items: center;
      justify-content: space-between;
      display: flex;
      .logo {
        a {
          color: black;
          text-decoration: none;
        }
      }
      .menu {
        margin-top: 18px;
        cursor: pointer;
        border-radius: 100%;
        border: 1px solid black;
        height: 120px;
        width: 120px;
        display: flex;
        align-items: center;
        justify-content: center;
        transition: 0.3s ease-in-out;

        &:hover {
          color: $white;
          background: $black;
        }
        span {
          margin-left: 7px;
        }
      }
    }
  }
}
