.myList {
  display: flex;
  flex-direction: column;
  align-items: center;
  .myList_heading {
    font-size: 50px;
    padding: 40px;
    text-decoration: underline;
    color: #0e5f82;
  }
  .myList_item_wrapper {
    margin-bottom: 30px;
    .myList_img_wrapper {
      position: relative;
      height: 700px;
      width: 600px;
      &:hover {
        display: block;
      }
      .extraInfo_wrapper {
        position: absolute;
        left: 20px;
        top: 10%;
        z-index: 88888;
        background-color: rgba(238, 238, 238, 0.558);
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 580px;
        margin-top: 60px;
        background-color: rgba(0, 0, 0, 0.558);
        transition: all 450ms ease-in-out;
        cursor: pointer;

        .extraInfo_text_wrapper {
          display: flex;
          flex-direction: column;
          align-items: center;
          text-align: center;

          h2 {
            margin-top: 16px;
            font-size: 14px;
            color: white;
            margin-right: 20px;
            font-style: italic;
            margin-left: 15px;
          }
          h3 {
            color: rgb(140, 140, 140);
            font-style: oblique;
            font-size: 16px;
            margin-top: 5px;
          }
        }
      }

      img {
        padding: 60px 0;
        height: 100%;
        width: 100%;
        object-fit: cover;
      }
    }

    .myList_text_top {
      margin-top: -50px;
      display: flex;
      flex-direction: column;
      font-size: 10px;
      span {
        color: rgb(27, 27, 27);
        font-size: 10px;
      }
    }
  }
}
