.myList {
  display: flex;
  flex-direction: column;
  align-items: center;
  .myList_heading {
    font-size: 50px;
    padding: 40px;
    text-decoration: underline;
  }
  .myList_item_wrapper {
    margin-bottom: 30px;
    img {
      padding: 60px 0;
      height: 700px;
      width: 600px;
      object-fit: cover;
    }
    .myList_text_top {
      margin-top: -50px;
      h1 {
      }
      span {
      }
    }
  }
}
