@import "./styles/Header.scss";
@import "./styles/Home.scss";
@import "./styles/Card.scss";
@import "./styles/MyList.scss";
@import "./styles/AlertBox.scss";

$main: #f0d8bb;
$white: #ffffff;
$black: #1e1f13;

* {
  box-sizing: border-box;
  font-family: "HelveticaNeue-CondensedBold", -apple-system, BlinkMacSystemFont,
    "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
    sans-serif;
  font-weight: 900;
}

body::-webkit-scrollbar {
  width: 1em;
}

body::-webkit-scrollbar-thumb {
  background-color: rgb(27, 140, 189);

  &:hover {
    background-color: rgb(19, 172, 144);
  }
}

body {
  background-color: $main;
  color: $black;
}
a {
  color: $black;
  text-decoration: none;
}
